<div class="content-div" style="margin-bottom:9%">
  <h1>
    Password <!-- <span class="top-span"> - <%= @dname %></span> -->
    <% if hp_device(current_user.email) %>
      <%#= link_to 'New Device', new_device_path, :class=>'btn btn-primary btn-device' %>
    <% end %>
  </h1>
  <div style="text-align:right;">
    <%= link_to 'View All Devices', devices_path, :class=>'btn btn-primary btn-device', :style=>'right:0px;margin-top:-80px;' %>    
  </div>

  <!-- <div style="padding: 10px 0;min-width:930px;"> -->
  <div style="padding: 10px 0;">
    <div class="col-lg-6" style="display:inline-block;">
      <div class="col-lg-4" style="margin-top:9px;">
        <% if @devices.nil? || @devices.blank? %>
          Viewing 0 to 0 of 0
        <% else %>
          Viewing 
          <% if @page_number == 1 %>
            <%= 1 %>
          <% else %>
            <%= 1 + (@page_number.to_i - 1) * @rows.to_i %>
          <% end %>
          to 
          <% if @rows.to_i*@page_number.to_i > @devices.count%>
            <%= @devices.count %> 
          <% else %>
            <%= @rows.to_i*@page_number.to_i %> 
          <% end %>
          of <%=@devices.count%> 
        <% end %>
        &nbsp;&nbsp;
      </div>
      <div class="col-lg-8" style="position:relative;top:-11px;">
      Displaying 
      <%#= form_tag('/tickets/setrows', :id=>'form_ticket_rows', :style => 'display:inline-block;') do -%>
        <div class="dropdown dropdown-dark" style="width:70px;top:12px;">
          <select name="password_rows" class="dropdown-select small" id="select_password_rows">
            <% [5,10,20,50].each do |n| %>
              <% if @rows.to_i == n %>
                <option value="<%=n%>" selected="selected"><%=n%></option>
              <% else %>
                <option value="<%=n%>"><%= n%></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <%#= hidden_field_tag "ticket_rows" %>&nbsp;&nbsp;
        per page
      <%# end %>
      </div>
    </div>

    <div class="col-lg-3" style="display:inline-block;margin-top:3px;">
      <% if !@devices.blank? %>
        <%= will_paginate @devices, :previous_label => '<', :next_label => '>' %>
      <% end %>
    </div>

    <div class="col-lg-3" style="text-align:right;float:right;">
      <i class="glyphicon glyphicon-refresh" id="btn_refresh_device" style="cursor:pointer"></i>
      &nbsp;
      <%= button_tag(:class=>'btn btn-primary btn-reply2 btn-device', :id=>'btn_filter_devices') do %>
        Filter&nbsp;&nbsp;<i class="glyphicon glyphicon-filter" style="font-size:14px;position:relative;top:3px;color:ine"></i>
      <% end %>
    </div>
    
  </div>

  <div class="filter-div" style="display:none" id="div_device_filter">
    <%= render 'filter' %>
  </div>

  <table class="listing" id="table_password" style="margin-top:20px;">
    <thead>
      <tr>
        <th></th>
        <th>Software</th>
        <th><i class="fa fa-fw fa-user"></i>&nbsp;&nbsp;Username</th>
        <th><i class="fa fa-fw fa-key"></i>&nbsp;&nbsp;Password</th>
        <th><i class="fa fa-fw fa-calendar"></i>&nbsp;&nbsp;Modified</th>
        <th></th>
        <!-- <th>Delete</th> -->
      </tr>
    </thead>

    <tbody>
      <% if !@devices.blank? && @count != 0 %>
        <% @devices.each do |device| %>
          <% du = get_duser(device.name) %>
          <tr>
            <td style="color:transparent;"><%= device.id %></td>
            <%#= form_tag('/devices/password', :id=>'form_device_tickets', :style => 'display:none') do -%>
            <%= simple_form_for :dpwd, :method=>'get', :remote=>true, :html=>{:id=>'form_modify_dpwd', :style=>'display:none;'} do |f| %>
              <%= hidden_field_tag "device_name", nil, :required => true, :value=>device.name %>
              <%= hidden_field_tag "button2", nil, :required => true, :value=>'modify' %>
              <td class="ptable_td_2"><%= processblank(device.device_type) %></td>
              <td class="ptable_td_3">
                <%#= text_filed :username, :autocomplete=>:off, :class='form-control', :value=>du.username %>
                <%= text_field_tag "username", nil, :class=>'form-control duname',:required => true, :autocomplete=>:off, :value=>du.username, :style=>'background-color:transparent', :id=>'dusername_'+ device.id.to_s %>
              </td>
              <td class="ptable_td_3">
                <%= password_field_tag "password", nil, autocomplete: "off", :class=>'form-control dpwd', :style=>'width:85%;display:inline-block;background-color:transparent', :value=>du.password, :id=>'pwd_device_'+ device.id.to_s %>
                <%= button_tag(:class=>'btn-showpwd', :style=>'background-color:transparent', :id=>'btn_show_password_'+ device.id.to_s) do %>
                  <i class="fa fa-fw fa-pencil" style="font-size:16px;"></i>
                <% end %>
              </td>
            <% end -%>
            <td class="ptable_td_4">
              <span style="margin-left:10px;">
                <%= processblank(pro_action(device.updated_at.to_date)) %>&nbsp;
              </span>
            </td>
            <td class="clickable ptable_td_5">
              <i class="fa fa-fw fa-trash-o" style="font-size:16px;"></i>
            </td>
          </tr>
          <tr id="tr_crpwd_<%=device.id%>" style="display:none;">
            <td class="hidden_"></td>
            <td class="hidden_" colspan="6" style="text-align:right;padding-right:25px;">
              <div class="col-lg-12 cr_pwdlg12" style="text-align:center;margin-top:-20px;">
                <%#= form_tag('/devices/password', :id=>'form_remove_duser_'+device.id.to_s) do %>
                <%= simple_form_for :dpwd, :method=>'get', :remote=>true, :html=>{:id=>'form_delete_dpwd'} do |f| %>
                  <%= hidden_field_tag "device_name", nil, :required => true, :value=>device.name %>
                  <%= hidden_field_tag "button2", nil, :required => true, :value=>'remove' %>
                  <br/>
                  <i class="fa fa-fw fa-warning" style="font-size:16px;color:white"></i>
                  Are you sure removing this user with device?&nbsp;&nbsp;&nbsp;
                  <br/><br/>
                  <%= button_tag(type:"submit", :class=>'btn btn-primary btn-reply2 btn-device btn-rduser', :style=>'padding:4px 4px;font-weight:normal;height:28px;') do %>
                    <i class="fa fa-fw fa-minus-circle" style="font-size:16px;color:white"></i>&nbsp;Remove
                  <% end %>
                  <%= label_tag(nil, :class=>'btn btn-primary btn-reply2 btn-device btn-cduser', :style=>'padding:4px 4px;font-weight:normal;height:28px;', :id=>'btn_cduser_'+device.id.to_s) do %>
                    <i class="fa fa-fw fa-times-circle" style="font-size:16px;color:white"></i>&nbsp;Cancel
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td></td>
          <td colspan="7">No Device Users</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<script>
  var headertext = [],

  headers = document.querySelectorAll('#table_password th'),
  tablerows = document.querySelectorAll('#table_password th'),
  table_body = document.querySelector('#table_password tbody');

  for (var i = 0; i < headers.length; i++) {
    var current = headers[i];

    headertext.push(current.textContent.replace(/\r?\n|\r/,""));
  }

  for (var i = 0, row; row = table_body.rows[i]; i++) { 
    for(var j = 1, col; col = row.cells[j]; j++) {
      if ( headertext[j] && ( i%2 == 0 ) )  {
        col.setAttribute('data-th', headertext[j]);
      }

      if ( i%2 == 1 ) {
        col.setAttribute('style', 'border:none;');  
      }
      col.setAttribute('style', 'text-align:left;');
      // console.log(col);
      // console.log(headertext[j]);
    }

    if ( i%2 == 1 ) {
      col = row.cells[0];
    }

  }

  $(document).on('click', '.duname', function(e) {
    tmp = $(this).attr('id');
    // id="dusername_4"
    // console.log(tmp);
    tmp = tmp.substring(10, tmp.length );
    pid = '#pwd_device_' + tmp;
    tid = '#dusername_' + tmp;

    // console.log($(tid).length);
    $(tid).css('background-color', 'rgba(148, 182, 203, 0.37)');
    $(pid).css('background-color', 'rgba(148, 182, 203, 0.37)');
  });

  $(document).on('click', '.dpwd', function(e) {
    tmp = $(this).attr('id');
    // id="pwd_device_4"
    // console.log(tmp);
    tmp = tmp.substring(11, tmp.length );
    pid = '#pwd_device_' + tmp;
    tid = '#dusername_' + tmp;

    $(pid)[0].type = 'text';
    $(pid).css('background-color', 'rgba(148, 182, 203, 0.37)');
    $(tid).css('background-color', 'rgba(148, 182, 203, 0.37)');
  });

  $(document).on('click', '.btn-showpwd', function() {
    tmp = $(this).attr('id');
    // id="btn_show_password_15"
    tmp = tmp.substring(18, tmp.length );
    pid = '#pwd_device_' + tmp;
    tid = '#dusername_' + tmp;

    // alert(tid);

    $(pid).css('background-color', 'transparent');
    $(tid).css('background-color', 'transparent');

    $(pid)[0].type = 'password';
  });

  $(document).on('click', '.btn-rduser', function() {
    var tmp = $(this).attr('id');
    // btn_rduser_
    tmp = tmp.substring(11, tmp.length);

    var fid = '#form_remove_duser_' + tmp;
    console.log($(fid).length);
    $(fid).submit();

  });

  $(function() {
    $('.pagination a').attr('data-remote', 'true');
    $('#select_password_rows').attr('data-remote', 'true');

  });

  
</script>